body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2471A3;
    margin: 0;
    padding: 0;
}

.chat span {
    display: block;
}

.chat-container h1{
    color: white;
    text-shadow: 1px 1px 5px black;
}
.chat-container h5{
    color: white;
    text-shadow: 1px 1px 5px black;
}
.chat-container {
    width: 80%;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 4px;
    margin: auto;
}

.chat-container {
    background-color: rgba(255, 255, 255, 0.2);
}

.chat-container .chat {
    height: 50vh;
    overflow: auto;
    overflow-x: hidden;
}

.chat-container form {
    margin-top: 10px;
}

.chat-container form input {
    border: none;
    padding: 5px;
    width: 88%;
}

.chat-container form button {
    background-color: #58D68D;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    width: 10%;
    transition: 0.2s;
}

.username-container {
    text-align: center;
}

.username-container form button {
    background-color: #58D68D;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 5px;
    width: 5%;
    transition: 0.2s;
}


.username-container form input {
    padding: 10px;
    border-radius: 4px;
    border: none;
}

.username-container form button:hover {
    background-color: #439f69;
}

.chat-container form button:hover {
    background-color: #439f69;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(59, 177, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blurred background */
    padding: 1rem;
    color: white;
    text-shadow: 1px 1px 2px black; /* Black text shadow */
}

.brand-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-links li {
    padding: 0 1rem;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-shadow: 1px 1px 2px black; /* Black text shadow */
    transition: text-shadow 0.3s ease; /* Smooth transition for text shadow */
}

.navbar-links a:hover {
    text-shadow: 1px 1px 2px white; /* White text shadow on hover */
}

.toggle-button {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        width: 100%;
    }
    
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    
    .navbar-links li {
        text-align: center;
        padding: 1rem 0;
    }
    
    .navbar-links.active {
        display: flex;
    }
    
    .toggle-button {
        display: block;
    }
}

