<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="../static/css/review-page.css">
</head>
<body>
    <nav class="navbar">
        <div class="brand-title"></div>
        <a href="javascript:void(0);" class="toggle-button" onclick="toggleMenu()">
            ☰
        </a>
        <div class="navbar-links" id="navbarLinks">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Chat</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav><br><br>
    <script src="../static/js/review-page.js"></script>
</body>
</html>